<?xml version="1.0"?>
<launch>
	<arg name="frame" default="cf1" />

<!--
============================================================================
Trajectory Generation Service
-->
<node name="traj_generator" pkg="command_interface" type="plan_trajectory.py" output="screen"> 
</node>

<group ns="cf1">
<!-- 
===========================================================================
Run the node publishing the setpoint value as odometry message which can be visualized in
rviz
-->
<node name="setpoint_odometry_ghost_pub" pkg='monitors' type="setpoint_ghost_pub" output="screen">
</node>	
</group>

<!--
============================================================================
Bag recording 

- /setpoint: Trajectory setpoint for the crazyflie 
-->
<node pkg="rosbag" name="record" type="record" args="-O /tmp/cf1_cmd /setpoint"/>
</launch>
