<?xml version="1.0"?>
<launch>
        <arg name="vehicle_frame" default="cf1" /> <!-- Identify the frame to be controlled (Currently not used)--> 
        <arg name="commander_id" default="cm1" />  <!-- Useful to identify the source of the commands (Currently not used) -->
<!-- 
    This launcher sets up the nodes to send commands to the vehicle.
-->

<group ns="$(arg vehicle_frame)"> 
        <!--
    ============================================================================
    Trajectory Generation Service
    -->
    <node name="Guidance_Node" pkg="guidance" type="guidance.py" output="screen"> 
            <param name="target_frame" value="$(arg vehicle_frame)" type='str' />
            <param name="topics/in_tg_pose_topic" value="/vrpn_client_node/target/pose" type="str" />
            <param name="topics/in_vehicle_odom_topic" value="external_odom" type='str' />
            <param name="topics/out_ctrl_setpoint" value="setpoint" type="str" />
    </node>

    <!--
    ===========================================================================
    Commander Node
    -->
    <node name="Commander_Node" pkg="commander_interface" type="commander" output="screen">
    </node>

    <!--
    ============================================================================
    Contoller Node
    -->
		<include file="$(find demo_launchers)/launch/ext_control.launch">
			<arg name="topics/setpoint_topic" value="/cf1/setpoint" />
			<arg name="topics/control_topic" value="/cf1/control" />
			<arg name="topics/state_topic" value="/cf1/external_odom" />
		</include>

		<!--
		============================================================================
		Command Converter
		-->
		<node name="cmd_vel_converter"
        pkg="controller"
        type="cmd_vel_converter_node"
        output="screen">

    <param name="topics/control" value="/cf1/control" />
    <param name="topics/cmd_vel" value="/cf1/cmd_vel" />
		</node>


        <!-- 
    ===========================================================================
    Run the node publishing the setpoint value as odometry message which can be visualized in
    rviz
    -->
    <node name="ctrlsetpoint_odometry_pub" pkg='monitors' type="ctrl_setpoint_odometry_publisher" output="screen">
            <param name="vehicle_frame_id" value="$(arg vehicle_frame)" type='str' />
            <param name="topics/out_ghost_topic" value="ghost_odom" type="str" />
            <param name="topics/in_ctrlsetpoint_topic" value="setpoint" type="str" />
    </node>	

</group>
<!--
============================================================================
Bag recording 

- /setpoint: Trajectory setpoint for the crazyflie 
-->
<node pkg="rosbag" name="record" type="record" args="-O /tmp/$(arg commander_id)_$(arg vehicle_frame)_cmd $(arg vehicle_frame)/setpoint $(arg vehicle_frame)/ghost_odom" />
</launch>
