<?xml version="1.0"?>
<launch>
        <arg name="vehicle_frame" default="cf1" /> <!-- Identify the frame to be controlled (Currently not used)--> 
<!-- 
    This launcher sets up the nodes to send commands to the vehicle.
-->

<group ns="$(arg vehicle_frame)"> 
    <!--
    ============================================================================
    Contoller Node
    -->
     <include file="$(find demo_launchers)/launch/ext_control.launch">
             <arg name="topics/setpoint_topic" value="/cf1/setpoint" />
             <arg name="topics/control_topic" value="/cf1/control" />
             <arg name="topics/state_topic" value="/cf1/external_codom" />
     </include>

    <!--
    ============================================================================
    Command Converter
    -->
    <node name="cmd_vel_converter"
            pkg="controller"
            type="cmd_vel_converter_node"
            output="screen">
            <param name="topics/control" value="/cf1/control" />
            <param name="topics/cmd_vel" value="/cf1/cmd_vel" />
    </node>

</group>
<!--
============================================================================
Bag recording 

- /setpoint: Trajectory setpoint for the crazyflie 
-->
<node pkg="rosbag" name="record_ctrl" type="record" args="-O /tmp/$(arg vehicle_frame)_control $(arg vehicle_frame)/control $(arg vehicle_frame)/cmd_vel" />
</launch>
